bin/
obj/
build/
_ReSharper.*
.vscode
*.ncb
*.aps
*.suo
*.sln.cache
*.dotCover
*.user
.vs
ManyConsole.Tests/TestResults
ManyConsoleModeCommand.Test/TestResults
**/Properties/AssemblyInfo.cs

