<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="FakeItEasy" version="1.7.4507.61" />
  <package id="NJasmine" version="0.2.4.0" />
  <package id="NJasmine.NUnit" version="0.2.4.0" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="PowerAssert" version="1.0.2" />
</packages>