<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" requireReinstallation="true" />
  <package id="FakeItEasy" version="1.7.4507.61" requireReinstallation="true" />
  <package id="NJasmine" version="0.3.2.0" targetFramework="net40" />
  <package id="NJasmine.NUnit" version="0.3.2.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.1" targetFramework="net40" />
  <package id="PowerAssert" version="1.0.2" />
</packages>